@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.card .card-body .card-title {
        flex-wrap: "nowrap";
        white-space: nowrap;
        overflow: "hidden";
        text-overflow: "ellipsis";
        max-width: "100%";
        word-break: "break-all",
    }
    .summary-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .summary-label {
        text-align: left;
        color: "#808080"
      }
      .summary-value {
        text-align: right;
        margin-left: 170px;
        justify-content: flex-end;
      }
